
</div>
<!-- <nav class="navbar-default navbar-dark "> -->
<footer>
        <p>Site created and maintained by Rob McGlade, email rmcglade at gmail.com</p>
        <p>NodeJS & Mongo DB Source Code on Git <a href="https://github.com/hexitex/sleepsafe">SleepSafe</a></p>
        <ul>
            <li><a href="https://twitter.com/space_sleep"><i class="fab fa-twitter-square fa-2x"></i></a></li>
            <li><a href="https://www.facebook.com/Sleep-Safe-287130672012943/"><i class="fab fa-facebook-square fa-2x"></i></a></li>
        </ul>
</footer>
<!-- </nav> -->
</body>

</html>