<% include ../partials/header %>
<div class="row" style="height:100%">
    
    <div class="form-style mt-4">
        <h2 style="text-align: center">About Sleep Safe Space</h5>
        
      <p>SleepSafe.Space was created in part due to the bonkers back patting. 
          So often sites are just about patting them selves on 
          the back and offer no information they want!  </p>>
      <p></p>
        <a href="/sites">Go Back</a>
    </div>
</div>
<% include ../partials/footer %>